@use "sass:color";
@import url('https://fonts.cdnfonts.com/css/montserrat');



$page-back-color: rgba(0, 0, 0, 1);
$corner-strip-color: #daa520;
$gray-text: #b4b4b4;
$mobile-bp: 480px;
$scroll-bar-width: 14px;
$tablet-bp: 768px;

#light{
    background-color:  #ffffff;  
    --gray1: #D2D2D2;
    --gray2: #c6c6c6;     
    --Text1: #000000;   
    --Text2: #1a1a1a; 
    --Text3: #333333; 
    --accent: #e2a91a;  
}
//gray1 = For card backgrounds
//Text1 = For Heading Texts
//Text2 = For Heading Assist Text
//Text3 = If you need you need one more gray then use this
//accent = For golden Colour accent
#dark{
    background-color:  #1b1a1d;
    --gray1: #222222;
    --gray2: #333333;
    --Text1: #ffffff;
    --Text2: #b4b4b4;
    --Text3: #979797;
    --accent: #FFC32B;
}



@mixin cartContainer() {
    background-color: var(--gray1);
    padding: 10vh 10vw 10vh 10vw;
    margin: 14px 0px 14px 14px ;
    border-radius: 2vw;
}

@mixin wanderText($weight, $size, $colour) {
    font-family: "Montserrat";
    color: $colour;
    font-weight: $weight;
    font-size: $size;
}

#root {
    scrollbar-color: #555555 #353535;
    scrollbar-width: thin;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: $scroll-bar-width;
        padding-right: 10px;
        right: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #3535358b;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #555555;
        border-radius: 4em;
        border: 4px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.hidden{
    visibility: hidden;
}
.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}

.disable-blur {
    backdrop-filter: none !important;
}

.toggle-darkmode-switch{
    top: 0;
    right: 0;
    padding-top: 2.5vh;
    margin-right: 5vw;
    z-index: 10000;
    position: absolute;
    display: flex;
    justify-content: flex-end;
}

.toggle {
    --size: 2rem;
    
    appearance: none;
    outline: none;
    cursor: pointer;
    
    width: var(--size);
    height: var(--size);
    box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
    border-radius: 999px;
    color: hsl(0, 0%, 0%);
    
    transition: all 500ms;
    
    &:checked {
      --ray-size: calc(var(--size) * -0.4);
      --offset-orthogonal: calc(var(--size) * 0.65);
      --offset-diagonal: calc(var(--size) * 0.45);
  
      transform: scale(0.75);
      color: hsl(0, 0%, 100%);
      box-shadow: 
        inset 0 0 0 var(--size),
        calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
        var(--offset-orthogonal) 0 0 var(--ray-size),
        0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
        0 var(--offset-orthogonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size),
        var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size),
        var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size),
      ;
    }
  }
