@import "./commonFiles";

.container {
    margin-top: 10vh;

    .outer-container {
        display: inline-flex;

        .left-side-container {
            width: 50vw;

            .payment-details {
                @include cartContainer;

                
                
                .heading {
                    display: inline-flex;

                    .heading-star {
                        width: 20px;
                    }

                    .heading-text {
                        @include wanderText(300, 0.8vw, var(--Text2));
                        padding-left: 10px;

                    }
                }

                .hash-title {
                    margin-top: 2vh;

                    .hash-title-main {
                        @include wanderText(500, 1vw, var(--Text1));
                    }
                }

                .input-section {
                    display: inline-flex;
                    height: 7vh;    
                    margin-top: 1vh;
                    align-items: center;

                    .input-hash {


                        .input-eth {
                            background-color: var(--gray2);
                            height: 5.7vh;
                            width: 25vw;
                            border-radius: 0.8vw;
                        }
                        .css-19mk8g1-MuiInputBase-root-MuiFilledInput-root:hover:not{
                            border-bottom: 1px solid var(--gray2);
                        }
                    }

                    .eth-btn {
                        background-color: var(--gray2);
                        padding: 20px;
                        border-radius: 0.5vw;
                        margin-left: 0.9vw;

                        .eth-logo {
                            width: 12px;

                        }
                    }

                }


            }

            .personinfo-section {
                @include cartContainer;

                .heading {
                    display: inline-flex;

                    .heading-star {
                        width: 20px;


                    }

                    .heading-text {
                        @include wanderText(300, 0.8vw, var(--Text2));
                        padding-left: 10px;
                    }
                }

                .information-form {
                    .form-row-1 {
                        display: inline-flex;

                        .first-name {
                            .fname-title-main {
                                margin-top: 2vh;
                                margin-bottom: 1vh;
                                @include wanderText(500, 1vw, var(--Text1));

                            }

                            .input-fname {

                                .input-field-fname {
                                    background-color:var(--gray1);
                                    height: 5.7vh;
                                    width: 13vw;
                                    border-radius: 0.5vw;

                                }


                            }
                        }

                        .last-name {
                            margin-left: 2vw;

                            .lname-title-main {
                                margin-top: 2vh;
                                margin-bottom: 1vh;
                                @include wanderText(500, 1vw, var(--Text1));

                            }

                            .input-lname {

                                .input-field-lname {
                                    background-color: var(--gray2);
                                    height: 5.7vh;
                                    width: 13vw;
                                    border-radius: 0.5vw;

                                }


                            }
                        }
                    }

                    .form-row-2 {
                        .passport-number {
                            .passport-title-main {
                                margin-top: 2vh;
                                margin-bottom: 1vh;
                                @include wanderText(500, 1vw, var(--Text1));

                            }

                            .input-passport {

                                .input-field-passport {
                                    background-color: var(--gray2);
                                    height: 5.7vh;
                                    width: 28vw;
                                    border-radius: 0.5vw;

                                }


                            }
                        }

                    }

                    .form-row-3 {
                        display: inline-flex;

                        .citizen {
                            .citizen-title-main {
                                margin-top: 2vh;
                                margin-bottom: 1vh;
                                @include wanderText(500, 1vw, var(--Text1));

                            }

                            .input-citizen {

                                .input-field-citizen {
                                    background-color: var(--gray2);
                                    height: 5.7vh;
                                    width: 13vw;
                                    border-radius: 0.5vw;

                                }


                            }
                        }

                        .date {
                            margin-left: 2vw;

                            .date-title-main {
                                margin-top: 2vh;
                                margin-bottom: 1vh;
                                @include wanderText(500, 1vw, var(--Text1));

                            }

                            .input-date {

                                .input-field-date {
                                    background-color: var(--gray2);
                                    height: 5.7vh;
                                    width: 13vw;
                                    border-radius: 0.5vw;

                                }


                            }
                        }
                    }
                }
            }
        }

        .right-side-container {
            width: 48vw;

            .chekout-container {
                @include cartContainer;

                .heading {
                    display: inline-flex;

                    .heading-star {
                        width: 20px;


                    }

                    .heading-text {
                        @include wanderText(300, 0.8vw, var(--Text2));
                        padding-left: 10px;
                    }
                }

                .row-1 {
                    display: inline-flex;
                    margin-top: 5vh;

                    .chekout-image {
                        .product-image {
                            width: 8vw;
                            margin-right: 3vh;
                        }
                    }

                    .product-name {


                        .agency-logo {
                            .agency-logo-main {
                                width: 5vw;
                            }
                        }

                        .product-name {

                            .product-name-main {
                                @include wanderText(700, 2.5vw, var(--Text1));
                            }
                        }
                    }

                    .quantitty {
                        vertical-align: middle;
                        padding: 20px;

                        .product-name-main {
                            @include wanderText(700, 1vw, var(--Text1));
                        }
                    }
                }

                .row-2 {
                    margin-top: 5vh;


                    .heading {
                        .heading-text {
                            @include wanderText(300, 1vw, var(--Text2));
                            padding-left: 10px;
                        }
                    }

                    .dates {
                        display: inline-flex;
                        margin-top: 2vh;

                        .date-col-1 {

                            .date1 {
                                padding: 4vh 5vh 4vh 5vh;
                                background-color: var(--gray2);
                                border-radius: 100px;
                                margin-right: 10px;
                                margin-bottom: 10px;
                                border-width: 10px;
                                @include wanderText(300, 1vw, var(--Text1));

                                &:hover{
                                    cursor: pointer;
                                    background-color:var(--Text3);
                                    @include wanderText(300, 1vw,var(--gray1));
                                }
                            }
                            .date1Active {
                                padding: 4vh 5vh 4vh 5vh;
                                background-color:var(--Text3);
                                border-radius: 100px;
                                margin-right: 10px;
                                margin-bottom: 10px;
                                border-width: 10px;
                                @include wanderText(300, 1vw, var(--gray1));

                                &:hover{
                                    cursor: pointer;
                                    background-color:var(--gray1);
                                    @include wanderText(300, 1vw, var(--Text2));
                                }
                            }
                           

                            .date2 {
                                padding: 4vh 5vh 4vh 5vh;
                                background-color: var(--gray2);
                                border-radius: 100px;
                                margin-right: 10px;
                                margin-bottom: 10px;
                                border-width: 10px;
                                @include wanderText(300, 1vw,var(--Text1));

                                &:hover{
                                    cursor: pointer;
                                    background-color:var(--Text2);
                                    @include wanderText(300, 1vw,var(--gray1));
                                }
                            }
                            .date2Active {
                                padding: 4vh 5vh 4vh 5vh;
                                background-color:var(--Text2);
                                border-radius: 100px;
                                margin-right: 10px;
                                margin-bottom: 10px;
                                border-width: 10px;
                                @include wanderText(300, 1vw,var(--gray1));

                                &:hover{
                                    cursor: pointer;
                                    background-color:var(--gray1);
                                    @include wanderText(300, 1vw, var(--Text1));
                                }
                            }
                        }

                        .date-col-2 {

                            .date3 {
                                padding: 4vh 5vh 4vh 5vh;
                                background-color: var(--gray2);
                                border-radius: 100px;
                                margin-right: 10px;
                                margin-bottom: 10px;
                                border-width: 10px;
                                @include wanderText(300, 1vw,var(--Text1));

                                &:hover{
                                    cursor: pointer;
                                    background-color: var(--Text2);
                                    @include wanderText(300, 1vw,var(--gray1));
                                }
                            }
                            .date3Active {
                                padding: 4vh 5vh 4vh 5vh;
                                background-color:var(--Text2);
                                border-radius: 100px;
                                margin-right: 10px;
                                margin-bottom: 10px;
                                border-width: 10px;
                                @include wanderText(300, 1vw,var(--gray1));

                                &:hover{
                                    cursor: pointer;
                                    background-color: var(--gray1);
                                    @include wanderText(300, 1vw,var(--gray2));
                                }
                            }
                            .date4 {
                                padding: 4vh 5vh 4vh 5vh;
                                background-color: var(--gray2);
                                border-radius: 100px;
                                margin-right: 10px;
                                margin-bottom: 10px;
                                border-width: 10px;
                                @include wanderText(300, 1vw,var(--Text1));

                                &:hover{
                                    cursor: pointer;
                                    background-color:var(--Text2);
                                    @include wanderText(300, 1vw, var(--gray1));
                                }
                            }
                            .date4Active {
                                padding: 4vh 5vh 4vh 5vh;
                                background-color:var(--Text2);
                                border-radius: 100px;
                                margin-right: 10px;
                                margin-bottom: 10px;
                                border-width: 10px;
                                @include wanderText(300, 1vw,var(--gray1));

                                &:hover{
                                    cursor: pointer;
                                    background-color:var(--gray1);
                                    @include wanderText(300, 1vw,var(--Text2));
                                }
                            }
                            
                        }
                    }
                }
            }

            .payment-container {
                @include cartContainer;

                .heading {
                    display: inline-flex;

                    .heading-star {
                        width: 20px;

                    }

                    .heading-text {
                        @include wanderText(300, 0.8vw, var(--Text2));
                        padding-left: 10px;
                    }
                }

                .row-1 {
                    display: inline-flex;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 2vh;

                    .trip-name {
                        @include wanderText(600, 1.5vw, var(--Text1));
                        display: flex;
                        margin-right: 3vw;
                    }

                    .actual-price {

                        @include wanderText(600, 1.5vw,var(--Text1));
                        display: flex;
                        align-self: flex-end;
                    }
                }

                .row-2 {
                    margin-top: 2vh;
                    display: inline-flex;
                    display: flex;
                    justify-content: space-between;

                    .international-tax {
                        @include wanderText(600, 1.1vw,var(--Text1));
                        display: flex;
                        margin-right: 3vw;

                    }

                    .tax-number {
                        @include wanderText(600, 1.1vw,var(--Text1));
                        display: flex;
                        align-self: flex-end;

                    }

                }

                .row-3 {
                    display: inline-flex;
                    display: flex;
                    justify-content: space-between;

                    .gas-fees {
                        @include wanderText(600, 1.1vw,var(--Text1));
                        display: flex;
                        margin-right: 3vw;
                    }

                    .gas-fees-number {
                        @include wanderText(600, 1.1vw, var(--Text1));
                        display: flex;
                        align-self: flex-end;
                    }
                }

                .divider {
                    margin-top: 1vh;
                    background-color:var(--Text1);
                    padding-top: 1px;
                    margin-bottom: 1vh;
                }

                .final-output {
                    display: inline-flex;
                    display: flex;
                    justify-content: space-between;

                    .grand-total {
                        @include wanderText(600, 1.6vw,var(--Text1));
                    }

                    .final-price-number {
                        @include wanderText(600, 1.6vw,var(--accent));
                    }

                }

                .pay-btn {
                    display: flex;
                    margin-top: 2vh;
                    justify-content: flex-end;
                    .pay {
                        background-color:var(--accent);
                        color:var(--gray1);
                        border-radius: 50px;
                        padding: 0.7vw 2vw 0.7vw 2vw;
                        font-family: "Montserrat";
                        font-weight: 600;
                        font-size: 16px;
                        text-transform: none;
                    }


                }
            }
        }
    }
}

.formcontrol_field {
    width: 100%;
    margin: 0px 0 30px 0;
    border-radius: 7px;
    border-bottom:var(--accent);

    div {
        background-color: var(--gray2);
    }

    .css-g9m4e0-MuiInputBase-root-MuiFilledInput-root:after {
        border-bottom: 2px solid var(--accent);
    }

    .css-g9m4e0-MuiInputBase-root-MuiFilledInput-root.Mui-error:after {
        border-bottom-color: #d32f2f;
    }

    .helper-text {
        color: #d32f2f;
    }

    input {
        color: var(--Text1);
    }

    label,
    button {
        color: var(--Text3);
    }
}