@import "./commonFiles";

.header {
    z-index: 1000;
    position: absolute;
    top: 0;
    width: 100vw;

    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 35%;

        &.header-scrolled {
            backdrop-filter: blur(15px);
        }

        .header-left {
            display: flex;
            justify-content: center;

            img {
                max-width: 171px;
            }
        }

        .header-navigation {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 35%;
            padding: 20px 0;

            div {
                display: flex;
                align-items: center;
                flex-grow: 1;
                justify-content: center;
                padding: 10px 0;

                a {
                    text-decoration: none;
                    color: white;
                    font-family: "Montserrat";
                }

                &:last-child {
                    flex-grow: 1.5;
                    margin-left: 40px;
                    border: 1px solid white;
                    border-radius: 100px;

                    &:hover {
                        cursor: pointer;
                        background-color: white;
                        border-color: black;
                        a {
                            color: black;
                        }
                    }
                }
            }
        }
    }
}
