@import "./commonFiles";


.container {
    height: 100vh;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 10vh;

    .logout {
        display: flex;

        .welcome {
            @include wanderText(700, 3vw, white);

            .loggedin_username {
                @include wanderText(300, 3vw, #FFC32B);

            }
        }

        .button-main {
            width: 200px;

            .logout_username {
                background-color: #FFC32B;
                border: none;
                padding: 20px;
                margin-left: 50px;
                border-radius: 10px;
                @include wanderText(800, 1vw, #000000);
            }
        }


    }
}